extends layout

block content
  .section.contact
    h2 Ways to contact me:
    ul
      li
        a(href="https://twitter.com/simonstead", target="_blank")
          h2 Twitter
      li
        a(href="mailto:liverpoolwebdevelopment@gmail.com")
          h2 Email
        p Professional enquiries in Liverpool
      li
        a(href="mailto:manchesterwebdevelopment@gmail.com")
          h2 Email
        p Professional enquiries in Manchester
      li
        a(href="https://uk.linkedin.com/in/sistead", target="_blank")
          h2 LinkedIn
