extends layout

block content
  .index
    .welcome
      h1.title= title
      p Welcome to the start of a homepage. Here you can find a list of things that I've done, or things I'm doing.
      a(href="/contact") #[h2 Contact Me]
    .websites.section
      h2 Websites I have made:
      ul
        li
          .website
            a(href="http://isdonaldtrumpawake.herokuapp.com", target="_blank")
              h2 Is Donald Trump Awake?
            p Checks if Donald Trump is awake based on locale, time of day and his most recent tweet.
        li
          .website
            a(href="https://mood-capture.herokuapp.com/", target="_blank")
              h2 Mood Capture
            p Built for my partner, a website that allows you to log and track your mood.
        li
          .website
            a(href="https://gentle-ocean-39788.herokuapp.com/", target="_blank")
              h2 Nutrition API
            p A proof of concept nutrition API for Co-op Product Data.
    .section.work
      h2 Stuff I've done for Work:
      ul
        li
          .website
            a(href="http://www.coop.co.uk/membership/join-us/", target="_blank")
              h2 Co-op Memebership (Live)
            p A landing page for the 2017 'Join Us' campaign
            h4 View all 6 variants #[a(href="/membership") here]
        li
          .website
            a(href="https://blooming-cove-76094.herokuapp.com/", target="_blank")
              h2 Service Maturity Standards
            p Pages that show the difference between different levels of maturity
        li
          .website
            a(href="http://coop-food-share.herokuapp.com", target="_blank")
              h2 Co-op Food Share
            p Connecting Charities and Food Stores, to help them redistribute their food waste.
        li
          .website
            a(href="javascript:void(0)", target="_blank")
              h2 Co-op Food Share - Admin
            p #[strong Offline] copy of the foodshare app, showing the admin side.
    .section.blogs
      h2 Blogs, articles and content
      ul
        li
          a(href="/music")
            h2 Music
        li
          a(href="https://simonstead.tumblr.com", target="_blank")
            h2 Tumblr
          p My personal tumblr
        li
          a(href="https://coopdigitalfood.tumblr.com/", target="_blank")
            h2 The blog for Co-op's Digital Food Team
        li
          a(href="/movies")
            h2 Film & TV
    .section
      h2 My CV
      ul
        li
          h2 #[a(href="/cv") PDF Download]
