doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  //- footer
  //-   ul
  //-     li Hello
  //-     li Some
  //-     li More
  //-     li #[a(href="/contact") Contact Me]
