doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway", rel="stylesheet")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .welcome
      header
        a(href="/") #[img.me(src="images/me.jpg")]
        .title-text
          h1.title= title
          p I'm Simon. Most of the time I write code @CoopDigital. I'm a full stack developer, mathematician, teacher and guitarist.
      //- a(href="/") #[h2 Home]
      a(href="/contact") #[h2 Contact Me]
      a(href="https://www.github.com/simonstead", target="_blank") #[h2 Github]
      a(href="/payments") #[h2 Donate / Pay an Invoice]
    block content
  //- footer
  //-   ul
  //-     li Hello
  //-     li Some
  //-     li More
  //-     li #[a(href="/contact") Contact Me]
