extends layout

block content
  .movies
    .welcome.section
      h1.title= title
      p Movies and Film Work I have been in
    .section
      a(href="http://www.imdb.com/name/nm6544318/", target="_blanks")
        h2 IMDb
    .section
      h2 No Surrender - 2014
      iframe(src="https://www.youtube.com/embed/MCZuBkhnMiY", frameborder="0", allowfullscreen)
    .section
      h2 Extra Work
      a(href="https://en.wikipedia.org/wiki/The_Crimson_Petal_and_the_White_(miniseries)", target="_blank") The Crimson Petal and the White
