extends layout

block content
  .welcome.section
    h1.title= title
    p Welcome to the start of a homepage. Here you can find a list of things that I've done, or things I'm doing.
  .section
    h2 Videos:
    hr
    .title 2016
    .video
      h3 Rat Within the Grain
      iframe(src="https://www.youtube.com/embed/4_Oo0wNJQWU", frameborder="0", allowfullscreen)
    hr
    .title 2012
    .video
      p Songbird - with Catherine Foster
      iframe(src="https://www.youtube.com/embed/Vu1sMrYb-JQ", frameborder="0", allowfullscreen)
    .video
      p Roxanne - with Catherine Foster
      iframe(src="https://www.youtube.com/embed/4_Oo0wNJQWU", frameborder="0", allowfullscreen)
    hr
    br
