@import "music"
@import "movies"
@import "payments"

/////-------//
/// LAYOUT //
//--------//

body
  font: 14px "Raleway", Helvetica, Arial, sans-serif
  // height: calc(100vw - 7em)
  margin: 0
  padding: 1rem 2rem
  animation: fade-in 2s

@keyframes fade-in
  0%
    opacity: 0
  100%
    opacity: 1

$red: #de1616

a
  color: $red

.title
  font-size: 4em
  margin: 0

.index .section
  font-size: 12px
  display: inline-flex
  flex-direction: column
  animation: fade-in 2s
  max-width: 30em
  & > h2
    margin-bottom: 0
  & ul
    margin-top: 0
    list-style: none

header
  display: flex
  align-items: center
  padding-bottom: 1em
  border-bottom: 3px solid #efefef
  & p
    margin: 0
  & .me
    border: 2px solid $red

.welcome
  border-bottom: 3px solid #efefef
  & a
    display: inline-block
    padding: 1em
    text-decoration: none
    &:hover
      text-decoration: underline
.me
  border-radius: 5em
  height: 8em
  margin-right: 1em

a.tumblr
  display: flex
  align-items: center
  & img
    height: 2em
    border-radius: 50px
    margin-right: 0.75em
// footer
//   width: 100vw
//   height: 7em
//   background-color: #efefef
//   position: fixed
//   bottom: 0
//   left: 0
//   & ul
//     height: 100%
//     padding: 0
//     margin: 0
//     list-style: none
//     display: flex
//     justify-content: center
//     align-items: center
//     & li
//       height: 100%
//       width: 25vw
//       border: 1px solid black
//       display: flex
//       align-items: center
//       justify-content: center


/////------//
/// Index //
//-------//



/////------//
/// membership //
//-------//

.membership
  img
    max-width: 100%
